body {
    background-color: black !important;
    color: white;
}
       
header, main, nav, footer {
    text-align: center;
}
       
li {
    display: inline-block;
    /* float: left; */
}
       
nav a {    /* links within "nav" container */
    padding: 5px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: underline;    /* removes underline */
    color: white;             /* by default, links are blue */
    font-family: 'Baloo Bhaijaan', cursive;
}

nav a:hover {
    border-bottom: 2px;
    font-size: 2em;
    transition: .9s;
}

#me #welcomeText {
    float: left;
}

footer {
    clear: left;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align: center;
    padding-left: 200px;
}

.hobby {
    color: yellow;
}